.home {
  width: 100%;
  height: 88vh;
  background-image: linear-gradient(#d62e3399, #d62e3399), url(../images/events-heavenly-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h2::after {
  content: "Let's have Fun";
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translate(-50%);
}

.parent {
  width: 12%;
}

.side-list {
  width: 15%;
  height: 100vh;
  left: -15%;
}

.side-list li {
  font-size: 1.5rem;
  margin-top: 2rem;
  list-style-type: none;
  transition: all .5s;
}

.side-list li a {
  color: white;
  text-decoration: none;
  transition: all .5s;
}

.side-list p {
  transition: all .5s;
}

.side-list li a:hover,
.side-list p:hover {
  color: rgba(214, 46, 51, 0.4);
  ;
}

.closemarke,
h6,
.singerhead {
  cursor: pointer;
}

.singerbody {
  display: none;
}

.timer {
  background-image: linear-gradient(#d62e3399, #d62e3399), url(../images/invitation-2508607__340.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.icons i {
  margin-right: 10px;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  transition: all .3s;
}

.icons i:hover {
  color: #fff;
  background-color: #D62E33;
  border: 1px solid #D62E33;
}

.container {
  max-width: 1140px;
}

@media only screen and (max-width: 997px) {
  .icon-btn {
    display: none;
  }
}